a:hover
{
color:green;
}
html
{
}
body
{
background-image:url("https://img.tukuppt.com/ad_preview/00/21/96/5c9a37d0c1e61.jpg!/fw/980")
background-repeat: no-repeat;
background-position:center;
  background-size:cover;
  display:flex;
flex-direction:column;
  border: 1px solid white;
  border-radius: 8px;}
main
{
display:flex;
  flex:auto
}
aside
{
flex:1
}
article
{
flex:3
}
header
{
}
