a:hover
{
color:green;
}
html
{
background-image:url("https://images.pexels.com/photos/2118607/pexels-photo-2118607.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260")
background-repeat: no-repeat;
background-size:cover;}
body
{
display:flex;
flex-direction:column;
  border: 1px solid white;
  border-radius: 8px;}
main
{
display:flex;
  flex:auto
}
aside
{
flex:1
}
article
{
flex:3
}
header
{
}
